<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .temp-background-container {
        background-image: url(../static/img/temp.png);
        background-size: cover; /* Ensures the image covers the entire screen */
        background-repeat: no-repeat;
        background-position: center;
        width: 100%; /* Set width to 100% of the viewport */
        height: 100vh; /* Set height to 100% of the viewport height */
        overflow: hidden; /* Prevents any content from spilling out */
      }
    </style>
  </head>
  <body>
    <div class="temp-background-container"></div>
    <script
      src="../static/dist/assistme.js"
      channelId="123"
      token="abc"
    ></script>
  </body>
</html>
